html{
  background-color: #FF6F61;
}

#t{
  display: block;
  font-family: 'Noto Sans JP', ;
  text-align: center;
  width: 30%;
  padding: 20px;
  margin: 50px auto;
  color: #fff;
  font-size: 30px;
  background: #FF6F61;
  box-shadow:  13px 13px 26px #b85046,
             -13px -13px 26px #ff8e7c;
}

.base1{
  display: block;
  font-family: 'Noto Sans JP', ;
  text-align: center;
  color: #fff;
  width: 100px;;
  height: 100px;
  margin: 200px auto;
  border-radius: 50%;
  background: linear-gradient(145deg, #e66457, #ff7768);
  box-shadow:  18px 18px 36px #ad4b42,
             -18px -18px 36px #ff9380;
}
